<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C2 Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">C2 Dashboard</div>
        <ul class="nav-links">
            <li><a href="/dashboard/home">Home</a></li>
            <li><a href="/dashboard/log">Log</a></li>
        </ul>
    </nav>

    <main class="container">
        <h1>C2 Dashboard Log</h1>

        <div class="json-box">
            <div class="button-group">
                <button onclick="window.location.href='/dashboard/log/dashboard'">Dashboard Log</button>
                <button onclick="window.location.href='/dashboard/log/c2'">C2 Log</button>
            </div>
            <pre>{{ log_data }}</pre>
        </div>
    </main>
</body>
</html>