<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C2 Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">C2 Dashboard</div>
        <ul class="nav-links">
            <li><a href="/dashboard/home">Home</a></li>
            <li><a href="/dashboard/log">Log</a></li>
            <li><a href="/dashboard/payments">Payments</a></li>
            <li><a href="/dashboard/files">Files</a></li>
        </ul>
    </nav>

    <main class="container">
        <h1>Uploaded Files</h1>
        <div class="button-group">
            <button onclick="window.location.reload()"><span class="refresh-icon">⟳</span></button>
        </div>
            {% if log_data and log_data|length > 0 %}
                <ul>
                {% for file in log_data %}
                        <li>{{ file }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No files found.</p>
            {% endif %}
    </main>
</body>
</html>