[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[dn]
CN = 13.61.13.226

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 13.61.13.226